.w-55[b-b8rcudewzl] {
    width: 55%;
}
.w-45[b-b8rcudewzl] {
    width: 45%;
}
.w-65[b-b8rcudewzl]{
    width:65%;
}
.tags-color[b-b8rcudewzl] {
    color: rgb(155, 155, 155);
}
.pe-auto:hover[b-b8rcudewzl]{
    cursor:pointer;
}

.filterLable[b-b8rcudewzl] {
    color:black;
   
}
.done[b-b8rcudewzl] {
    background-color: #51ca593d;
    border: 1px solid rgb(57, 191, 37);
}
#TagsFilterBox[b-b8rcudewzl] {
    padding-left: 2rem;
}
#SortOfDone[b-b8rcudewzl] {
    transform: scale(1.5);
}
